@media screen and (max-width: 600px) {
  .App-header {
    justify-content: center;
    padding: 10px;
    background-color: #121314;
    
  }
}

.App {
  display: flex;
}

.App-header {
  background-color: #121314;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.App-body {
  align-items: center;
  font-size: 20px;
}

.icon-text {
  font-size: 15px;
  margin-left: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}